.ftBottomPadding {
    height: 3em;
}


/* .ftChildren, .ftRowNode */

.ftChildren {
}

.ftChildren > .ftRowNode > .ftChildren {
    margin-left: 8px;
    padding-left: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.ftRowNode:hover > .ftChildren {
    border-left: 1px dotted #bbb;
}


/* .ftItemRow, .ftItemRowContent, .ftInnerRow */

.ftItemRow, .ftItemRowContent, .ftInnerRow {
    display: -webkit-box;
    display: box;
    width: 100%;
}

.ftItemRow {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    cursor: pointer;
    padding-top: 0.1px;
}

.ftInnerRow {
   -webkit-box-flex: 1.0;
    box-flex: 1.0;
 }

.ftItemRowContent {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    border: 1px solid rgba(15, 35, 45, 0);
    border-radius: 4px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgba(175, 210, 225, 1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 170, 255, 0.14)),color-stop(1, rgba(60, 90, 54, 0)));
}


/* .ftIconButton */

.ftIconButton {
    -webkit-box-flex: 0.0;
    box-flex: 0.0;
    width: 16px;
    height: 16px;
    overflow: hidden;
}


/* item row content elements */

.ftRowIcon {
    margin-right: 4px;
}

.ftItemText {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 2px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.ftItemLabel {
    font-weight: bold;
}

.ftItemTextAffix {
    -webkit-box-flex: 0;
    box-flex: 0;
    white-space: nowrap;
    margin-right: 3px;
    padding-top: 2px;
    padding-bottom: 4px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #fffe00;
    
}


/* .ftButtons */

.ftButtons {
    display: none;
    padding-right: 0.25em;
    -webkit-box-flex: 0.0;
    box-flex: 0.0;
}

.ftButtons .ftIconButton {
    -webkit-filter: grayscale(100%);
}

.ftButtons .ftIconButton:hover {
    -webkit-filter: grayscale(0%);
}


/* tooltip */

#ftTooltip, #ftSimpleTip {
    display: none;
    position: absolute;
    background-color: rgb(45, 82, 126);
    padding: 0px 0px 0px 0px;
    border: 0px solid #333;
    border-radius: 10px;
    font-size: 11px;
    color: #fff;
    font-size: 12px;
    font-family: 'segoe ui', 'ms sans serif', sans-serif;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    word-wrap: none;
}

#ftSimpleTip {
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}

.ftBigTip td {
    vertical-align: top;
}

.ftBigTip td:nth-child(1) {
    padding: 0px 0px 0px 0px;
}

.ftBigTip td:nth-child(2) {
    padding-left: 0px;
}

.ftBigTipHeader {
    font-weight: bold;
    word-wrap: break-word;
}

.ftBigTipBody {
    word-wrap: break-word;
}

.ftBigTipHeader + .ftBigTipBody {
    margin-top: 0px;
}

.ftBigTipImage {
    width: 32px;
    height: 32px;
}


/* expanded/collapsed styles */

.ftCollapsed > .ftItemRow .ftItemTitle {
    font-style: italic;
}

.ftCollapsed > .ftChildren {
    display: none;
}

.ftNode {
    background: none;
    cursor: auto;
}

.ftExpander {
    background-image: url('/images/toggle_arrow_expanded.png');
    cursor: pointer;
    position: relative;
    top: 1px;
}

.ftExpander:hover {
    background-image: url('/images/toggle_arrow_expanded_hover.png');
}

.ftCollapsed > .ftItemRow > .ftExpander {
    background-image: url('/images/toggle_arrow_collapsed.png');
}

.ftCollapsed > .ftItemRow > .ftExpander:hover {
    background-image: url('/images/toggle_arrow_collapsed_hover.png');
}



/* standard styling for focused, hovered, selected rows */

.ftRowNode > .ftItemRow:hover > .ftItemRowContent {
    background: rgba(45, 150, 150, 0.3);
    border: 1px solid #b8d6fb;
    border-radius: 3px;
}

.ftFocused > .ftItemRow > .ftItemRowContent,
.ftSelected > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(15, 35, 45, 1)),color-stop(1, rgb(47, 107, 138)));
    border: 1px solid rgb(125, 162, 206);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(219, 234, 253, 0.7) inset;color: rgb(222, 226, 18);
    
}

.ftFocused > .ftItemRow:hover > .ftItemRowContent,
.ftSelected > .ftItemRow:hover > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(177, 203, 236, 0.55)),color-stop(1, rgba(17, 100, 130, 0.63)));
    border: 1px solid rgba(175, 210, 225, 1);
}

.ftFocused.ftSelected > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #91abcc),color-stop(1, white));
    border: 1px solid rgb(0, 0, 0);color: rgb(45, 82, 126);
}

.ftFocused.ftSelected > .ftItemRow:hover > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #819bbc),color-stop(1, white));
    border: 1px solid rgb(45, 82, 126);
}

.ftMultiselecting .ftFocused:not(.ftSelected) > .ftItemRow > .ftItemRowContent {
    background: #fff;
    border: 1px dashed blue;
}

.ftCollapsed.ftChildFocused > .ftItemRow > .ftItemRowContent {
    border: 1px dashed rgb(125, 162, 206);
}


/* context menus */

.ftContextMenu {
    position: absolute;
    z-index: 99999;
    border: solid 5px rgb(103, 116, 136);
    border-radius: 6px;
    background: rgba(15, 35, 45, 1);
    padding: 0px;
    margin: 0px;
    display: none;
    box-shadow: 5px 5px 5px rgba(153, 209, 236, 0.49);
    cursor: default;
    font-family: 'Verdana', sans-serif;
    font-size: 11px;
}

.ftContextMenuItem {
    list-style: none;
    padding-right: 1em;
    margin: 0px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    white-space: nowrap;
}

.ftContextMenuItem img {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 10px;
}

.ftContextMenuItem span {
    color: rgba(175, 210, 225, 1);
    line-height: 20px;
    position: relative;
    top: -3px;
}

.ftContextMenuItem:hover {
    border: 1px solid #ffee00;
    background: rgba(15, 35, 45, 1) 0%;
}

.ftContextMenuItemDisabled span {
    color: #AAA;
    cursor: default;
}

.ftContextMenuItemDisabled:hover {
    background-color: transparent;
}

.ftContextMenuSeparator {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px rgba(0,0,0,0);
    border-left: solid 1px rgba(0,0,0,0);
    border-right: solid 1px rgba(0,0,0,0);
    margin-top: 2px;
    margin-bottom: 2px;
    height: 0px;
    border-radius: 0px;
}

.ftContextMenuSeparator:hover {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px rgba(0,0,0,0);
    border-left: solid 1px rgba(0,0,0,0);
    border-right: solid 1px rgba(0,0,0,0);
    background: none;
    box-shadow: none;
}


/* filter box and row filtering */

.ftFilterControl {
    margin: 4px 4px 0px 4px;
}

.ftFilterInput {
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    border: 1px solid #bbb;
    border-style: solid;
    -webkit-appearance: textfield;
}

.ftFilterStatus {
    font-style: italic;
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: black;
    background-color: hsl(55, 80%, 75%);
    margin: 0px 6px 6px 6px;
    padding: 0.75em 0.75em;
    border-radius: 2px;
    display: none;
    box-shadow: -1px -1px 2px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
    border: 1px solid #aaa;
    cursor: pointer;
}

.ftFilterStatus:hover {
    background-color: hsl(55, 80%, 65%);
}

.ftFiltering {
    margin-left: 6px;
}

.ftFiltering .ftItemRow {
    display: none;
}

.ftFiltering .ftFilteredIn > .ftItemRow {
    display: -webkit-box;
    display: box;
}

.ftFiltering .ftExpander, .ftFiltering .ftNode {
    display: none;
}

.ftFiltering .ftChildren {
    display: block !important;
}

.ftFiltering .ftChildren {
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-left: none !important;
}

.ftHighlightChar {
    background: yellow;
    text-decoration: underline;
    font-weight: bold;
}


/* draggable/droppable styling */

.ftDragHelper {
    background: -webkit-linear-gradient(top, hsl(220, 80%, 85%) 0%, #fff 100%);
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
    color: black;
    word-wrap: none;
    padding: 8px;
    z-index: 10;
    pointer-events: none;
    cursor: pointer;
}

.ftDragHelperMessage {
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
}

.ftDragHelperFooter {
    margin-top: 1em;
    font-size: 10px;
    font-family: sans-serif;
}

#ftDragInsertBar {
    position: absolute;
    display: none;
    outline: 1px solid blue;
    pointer-events: none;
    cursor: pointer;
    z-index: 20;
}

.ftDragToChild > .ftItemRow > .ftItemRowContent {
    border: 1px solid blue !important;
    outline: 1px solid blue;
}

.ftDrawAttention {
    outline: 2px solid rgba(0, 255, 0, 0.75);
}
